---
title: PaGeS by page.date (Nunjucks Edition)
pagination:
  data: collections.pages_by_page_date
  size: 2
  alias: pages
---

<h1>{{ title }}</h1>

{% for p in pages %}
<article>
  <h2>{{ p.data.title }}</h2>
  <p>page date: {% time p.data.page.date %}</p>
  <!-- <p>publish date: {% time p.data.publishedDate %}</p> -->
</article>
{% endfor %}
