---
title: PaGeS by publishedDate (Nunjucks Edition)
---

<h1>{{ title }}</h1>

{% for p in collections.pages_by_published_date %}
<article>
  <h2>{{ p.data.title }}</h2>
  <!-- <p>page date: {% time p.data.page.date %}</p> -->
  <p>publish date: {% time p.data.publishedDate %}</p>
</article>
{% endfor %}
